* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-auto-flow: column;
  height: 100vh;
  grid-template-columns: 1fr 6fr;
}

.sidebar {
  background-color: #337be8;
  color: whitesmoke;
  display:flex;
  flex-direction: column;
}

.sidebar > div{
  margin: 0 0 2em 0;
  padding: 10px;
}

.right-panel {
  background-color: beige;
}

.sidebar svg {
  fill: whitesmoke;
}

.sidebar-title{
  font-size: 1.5rem;
}

.sidebar-title, .menu-item{
  display:flex;
  align-items:center;
  gap: 10px
}

svg{
  width:20%
}