* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-auto-flow: column;
  height: 100vh;
  grid-template-columns: 1fr 6fr;
}

.sidebar {
  background-color: #337be8;
  color: whitesmoke;
  display:flex;
  flex-direction: column;
}

.sidebar > div{
  margin: 0 0 2em 0;
  padding: 10px;
}

.right-panel {
  background-color:azure;
  display:grid;
  grid-template-rows:1fr 4fr;
}

.right-panel>.content{
  background-color: #d1d1d1;
}

.right-panel>.nav-bar{
  box-shadow: #000000 0px 0px 10px 0px;
  margin: 0px 0px 5px 0px;
}

.sidebar svg {
  fill: whitesmoke;
}

.sidebar-title{
  font-size: 2.5rem;
}

.sidebar-title, .menu-item{
  display:flex;
  align-items:center;
  gap: 10px;
  font-size:1.5rem
}

svg{
  width:20%
}

#nav-bar{
  display:grid;
  grid-template: 1fr 1fr/2fr 1fr;
}

.nav-frame{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  margin:0 4rem 0 4rem;
}

.nav-frame svg{
  height: 2rem;
  width: 2rem;
}

.nav-frame input{
  height:1.5rem;
  flex:1;
  margin: 5px;
  border-radius: 1rem;
}

#thumbnail{
  height: 3rem;
  width: 3rem;
}

.nav-frame, .profile{
  justify-content:right;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

.salutation{
  justify-content: left;
  gap: 3rem;
  font-size: 1.5rem;
  font-weight:bold;
}

#profile-name{
  font-size:6rem;
}

.nav-frame button{
  background-color: #337be8;
  border-color: aliceblue;
  border-width: 2px;
  border-radius: 3rem;
  color:aliceblue;
  height: 3rem;
  width: 10rem;
  font-size: 1.2rem;
}

#profile-image{
  height:7rem;
  width:7rem;
}